.container {
    --circle-width: 50px;
    --padding: 5px;
    --border-radius: 40px;
}

.input {

}
.circleContainer {
    height: calc(var(--circle-width) + var(--padding) * 2);
}
.circle {
    background: #61dafb;
}
.input:checked + .circleContainer > .circle {
    background: #9500ff;
}